    .detail-card {
        display: flex;
        flex-direction: row;
        min-width: 50rem;
        min-height: 15rem;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 25px;
        background-color: rgb(18, 33, 43);
    }

    .image-container {
        max-width: 600px;
        padding-left: 24px;
    }

    .detail-card img {
        background-color: inherit;
    }

    .detail-text {
        font-weight: bold;
        color: rgb(148, 148, 148);
    }