.side-view {
    background-color: black;
    position: fixed;
    right: 0px;
    z-index: 2;
    /* font-weight: bold; */
    padding: 1em;
    color: white;
    /* color: rgb(148, 148, 148); */
}

.side-view-title {
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.5em;
}

.side-view-body {
    padding: 2em;
}

.date-label {
    position: absolute;
    top: 0;
    right: 1em;
    font-weight: bold;
}