.side-menu {
    background-color: black;
    position: fixed;
    left: 0px;
    z-index: 2;
    padding: 1em;
    color: white;
    overflow: auto;
}

.side-menu-body {
    display: flex;
    flex-direction: column;
}

.link {
    color: white;
    margin-top: 1em;
    padding-top: 1em;
    align-content: left;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
  
.link:hover{
    color: #6f8ebf;
}

.selected-link {
    color: #6f8ebf;
}