.about-container {
    display: flex;
    margin: 2em 0.5em 1em 1em;
    justify-content: center;
    align-content: center;
    font-family: 'Montserrat';
    position: relative;
}

.about-container p {
    font-size: 1em;
    color: white;
    padding: 0 1em 0 1em;
}

.about-container .image-container img {
    border-radius: 2em;
    top: 5em !important;
    left: -6em !important;
}

@media (max-width: 992px) {
    .about-container .image-container img {
        left: 0em !important;
    }
}

@media (max-width: 640px) {
    .about-container {
        flex-direction: column-reverse;
    }
}
