    .about-container {
        display: flex;
        margin: 1em;
        justify-content: center;
        align-content: center;
        font-family: 'Montserrat';
    }

    .about-container p {
        font-size: 1em;
        padding: 0 1em 0 1em;
    }

    .about-container img {
        /* height: 35em; */
        padding: 1em;
        border-radius: 4em;
    }