.experience-container {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* .experience-container .inner-container {
    display: flex;
    overflow-x: scroll;
}

.experience-container .inner-container::-webkit-scrollbar { 
    display: none; 
} */
