    .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: url("../../images/hussein-wideshot-cropped.jpg");
    }

    .home-container p {
        font-size: 2em;
        color: black;
        font-weight: bold;
        font-family: 'TypoGraphica';
    }

    .home-inner-container {
        justify-content: center;
        position: absolute;
    }