.nav-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.nav-body {
    color: white;
    overflow: hidden;
    text-align: center;
    flex-direction: column;
}
